@media (min-width: 1270px) {
	.container {
		width: 1280px!important;
		padding: 0;
		margin: 0 auto!important;
	}
}

@media (max-width: 1270px) {
	.container {
		width: 100%!important;
	}
}

@media (max-width: 750px) {
	header {
		position: absolute!important;
	}
}

@media (max-width: 880px) {
	.albums-list-container .wrapper {
		position: relative!important;
	}
}