header .logo {
  text-align: center;
  background-color: #FFF8DC;
  font-family: 'Playfair Display SC', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif, serif;
  height: 80px;
}
header .logo a {
  font-size: 55px;
  color: #000;
  line-height: 80px;
  position: relative;
  top: -5px;
  text-shadow: 0px 0px 10px #FFF;
}
header .logo a:visited,
header .logo a:hover,
header .logo a:active,
header .logo a:hover {
  background-color: transparent;
  text-decoration: none;
}
header .logo.color {
  background: -moz-linear-gradient(left, #000000 0%, rgba(255, 255, 255, 0.61) 50%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(50%, rgba(255, 255, 255, 0.61)), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #000000 0%, rgba(255, 255, 255, 0.61) 50%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #000000 0%, rgba(255, 255, 255, 0.61) 50%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #000000 0%, rgba(255, 255, 255, 0.61) 50%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to right, #000000 0%, rgba(255, 255, 255, 0.61) 50%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
  /* IE6-9 */
}
header nav {
  background-color: #dc2a31;
  height: 40px;
}
header nav.box {
  background-color: #000;
}
header nav a {
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
header nav a:visited,
header nav a:hover,
header nav a:active,
header nav a:hover,
header nav a:focus {
  background-color: #78161A;
  text-decoration: none;
  color: #ffffff;
}
header nav a.active {
  background-color: #992024;
}
header nav a.blink {
  background-color: #992024;
}
