<nav>
  <div class="social">
    <a href="http://vk.com/club43624196" target="_blank">
      <img src="{{ site.baseurl }}/img/vkontakte.svg"/>
    </a>
    <a href="https://www.facebook.com/FeniksDanceShow" target="_blank">
      <img src="{{ site.baseurl }}/img/facebook.png"/>
    </a>
    <a href="http://instagram.com/feniksdanceshow" target="_blank">
      <img src="{{ site.baseurl }}/img/instagram.png"/>
    </a>
    <a href="https://www.youtube.com/channel/UCgUafpxg3uzUhhMHmzwIfdA" target="_blank">
      <img src="{{ site.baseurl }}/img/youtube.png"/>
    </a>
    <a href="http://rutube.ru/video/person/605204/" target="_blank">
      <img src="{{ site.baseurl }}/img/rutube.png"/>
    </a>
  </div>
  <div class="links">
    <span class="email">
      <span>
        <a href="mailto:FeniksDance@yandex.ru">FeniksDance@yandex.ru</a>
      </span>
    </span>
    <span class="separator">|</span>
    <span class="tel">
      <span>
        <a href="tel:+79647035838">+7 (964) 703-58-38</a>
      </span>
      <span class="separator">|</span>
      <span>
        <a href="tel:+79032032898">+7 (903) 203-28-98</a>
      </span>
    </span>
  </div>
  <div class="logo">
    <a href="">
      <img src="{{ site.baseurl }}/img/Logo_2.png"/>
    </a>
  </div>
  <div class="copyright">
    <span>
      Запрещено использование материалов сайта без согласия его авторов и обратной ссылки.
    </span>
  </div>
</nav>