---
layout: default
title: Feniks Dance Show. О нас.
keywords: Сергеев Денис, feniks, dance, show, феникс, шоу балет, танцоры, хореография, красочные танцевальные проекты, творческие постановки, Оксана Стратулат, Евгения Рогозкина, Марина Семенова, Наталья Голова, Екатерина Каратыщева, Давид Степанян, Владимир Ломачевский, Александр Суховский
description: Работаем в различных стилях и направлениях современной хореографии. Ставим номера не только в Москве, но и по всей России и даже за рубежом. Опыт работы более 10 ЛЕТ!
---

<article class="row">
  <div class="wrapper">
    <div class="content about">
      <div class="clearfix">
        <div class="info">
          <div class="img">
            <img ng-src="{{site.baseurl}}/img/about/[[groupPhoto]].jpg" alt="Общее фото артистов Feniks Dance Show">
          </div>
          <div class="denis">
            <img src="{{site.baseurl}}/img/about/wh6A69pEi0o.jpg" alt="Хореограф Денис Сергеев">
            <p>Денис Сергеев</p>
          </div>
          <p>Мы работаем в различных стилях и направлениях современной хореографии, что делает наш коллектив УНИВЕРСАЛЬНЫМ!
            В составе FENIKS DANCE SHOW ТОЛЬКО ПРОФЕССИОНАЛЬНЫЕ ТАНЦОРЫ!
            Это и есть гарантия высокого мастерства исполнения хореографии в каждом номере.
            FENIKS DANCE SHOW участвует в презентациях, выставках,
            рекламных съемках, и других творческих и коммерческих проектах, работает в качестве
            сопровождения звезд эстрады.</p>
          <p>Мы работаем не только в Москве, но и по всей России и даже за рубежом. Опыт работы более 10 ЛЕТ!
            Наши
            танцоры работали на самых крупных площадках Москвы: <i>СК Олимпийский, Крокус Сити Холл, Большой театр,
              Малый театр, Государственный театр Киноактера, Дом Кино, Красная Площадь, Кремлевский дворец, ВВЦ,
              КЦВЗ «Манеж», Большой Московский Государственный Цирк на Вернадском, ЛСК «ЦСКА», Арена Химки,
              а также на площадках знаменитых клубов Москвы Арена Moscow, O'Jules, Up&amp;Down, Main bar, Галактика,
              Шоколадная фабрика и т.д.</i>
          </p>
          <p>Наш руководитель – хореограф Сергеев Денис <i>(обладатель Гран-при Международного
            фестиваля "NEW STARS INTERNATIONAL", Италия; Лауреат Международного фестиваля "Цветущий миндаль",
            о. Мальта; Лауреат Международного фестиваля "Русское чудо в Тунисе",
            Тунис; Дипломант Международного фестиваля
            "Надежды Европы", г. Сочи; Лауреат Международного фестиваля "Золотая амфора", Греция; Лауреат
            корпоративного фестиваля "Факел" ОАО "ГАЗПРОМ", г. Геленджик)</i> опытный постановщик и мастер своего
            дела,
            что является залогом красочных танцевальных проектов и творческих постановок.</p>
          <p>
            <b>Ждем встречи с Вами!</b>
          </p>
        </div>
      </div>
      <div class="clearfix">
        <div data-colorbox="artists" class="dancers clearfix">
          <h2>
            <u>Артисты Feniks Dance Show</u>
          </h2>
          {% assign sorted_artists = site.data.artists | sort: 'index' %}
          {% for artist in sorted_artists %}
          {% if forloop.index == 8 %}
            <div class="cell"></div>
            <div class="cell"></div>
          {% endif %}
          <div class="cell artist">
            <div class="wrapper">
              <a href="{{site.baseurl}}{{artist.image}}" title="{{artist.name}}" class="box cboxElement">
                <img src="{{site.baseurl}}{{artist.image}}" alt="{{artist.name}}">
              </a>
            </div>
            <div class="fio">
              <p>{{artist.name}}</p>
            </div>
          </div>
          <div class="cell"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>